{% extends 'base.html' %}
{% load static %}
{% block content %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


        <!--Page Title-->
        <section class="page-title" style="background-image:url('{% static "images/background/12.jpg" %}');">
            <div class="auto-container">
                <h2>Offered Services</h2>
                <div class="separater"></div>
            </div>
        </section>

        <!--Breadcrumb-->
        <div class="breadcrumb-outer">
            <div class="auto-container">
                <ul class="bread-crumb text-center">
                    <li><a href="index.html">Home</a> <span>/</span></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
        <!--End Page Title-->
<section class="services-section page-view red">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Services Block Two -->
            <div class="services-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-ship"></i>
                    </div>
                    <h2><a href="#">Sea Freight</a></h2>
                    <div class="text">Sea freight is a shipping method that involves transporting goods by sea, typically through cargo ships or freighters. It is a cost-effective and reliable way to transport large quantities of goods over long distances.</div>
                </div>
            </div>

            <!-- Services Block Two -->
            <div class="services-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-plane"></i>
                    </div>
                    <h2><a href="#">Air Freight</a></h2>
                    <div class="text">Air freight is a shipping method that involves the transportation of goods by air, typically through cargo planes or commercial airlines. It is a fast and efficient way to transport goods over long distances and across international borders.</div>
                </div>
            </div>

            <!-- Services Block Two -->
            <div class="services-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h2><a href="#">Courier Services</a></h2>
                    <div class="text">Courier services are a type of delivery service that offers fast and reliable transportation of packages, documents, and other items from one location to another. These services are typically used for time-sensitive deliveries, such as legal documents, medical supplies, and retail packages.</div>
                </div>
            </div>

            <!-- Services Block Two -->
            <div class="services-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-boxes-stacked"></i>
                    </div>
                    <h2><a href="#">Storage Services</a></h2>
                    <div class="text">Storage services are a type of service that offers temporary or long-term storage solutions for businesses and individuals. These services are typically used to store excess inventory, equipment, or personal belongings in a safe and secure location.</div>
                </div>
            </div>

            <!-- Services Block Two -->
            <div class="services-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-train"></i>
                    </div>
                    <h2><a href="#">Fast Freight</a></h2>
                    <div class="text">Fast freight is a type of shipping service that offers expedited delivery for time-sensitive shipments. It is typically used for urgent shipments that require fast and reliable transportation, such as perishable goods, medical supplies, and high-value goods.</div>
                </div>
            </div>

            <!-- Services Block Two -->
            <div class="services-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <h2><a href="#">Track Your Cargo</a></h2>
                    <div class="text">Tracking your cargo is a crucial aspect of shipping that allows you to monitor the progress of your shipment from the point of origin to the final destination. Cargo tracking provides you with real-time information on the status and location of your cargo, allowing you to manage your logistics and supply chain more efficiently.</div>
                </div>
            </div>

        </div>
    </div>
</section>



{% endblock content %}